# FastAPI setup
fastapi==0.85.0
pydantic==1.10.2
uvicorn==0.18.3
python-dotenv==0.21.0
python-multipart==0.0.5

# database
peewee==3.15.3
peewee-migrate==1.6.2
pymysql==1.0.2

# auth
pyjwt==2.6.0
cryptography==38.0.3
bcrypt==4.0.1

# additional packages
python-slugify==6.1.2
colorama==0.4.6
